

<div class="container bg-ima h-75">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br><br>

	<div class="container">
	  <div class="row">
	    <div class="col-sm-6 bg-muted text-center">
	     
	      <table class="table table-responsive">
	      	
	      	
	      	<thead>
	      		<tr>
	      			<th>Name </th>
	      			<th colspan="4">Actions </th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<% @authors.each do |author| %>
	      		<tr>
	      			<td><%= "#{author.name}"%></td>
	      			<td> <%= link_to "Show", author_path(author.id), remote: true %></td>
					<td><%= link_to("Edit",edit_author_path(author.id))%></td>
					<td><%= link_to("Delete",author_path(author.id),method: :delete, data:{confirm: "are you sure?"})%></td> 
					<td><%= link_to"Show Books",books_path(author_id: author.id), remote: true%></td>
					
	      			</td>
				<% end %>
	      		</tr>
	      		<tr>
	      			<td><h3> <%= link_to "Add new record", new_author_path, remote: true %></td>
	      			<td>Total Record :<%= @authors.count%></td>
	      		</tr>
	      	</tbody>
	      </table>


	    </div>
	    <div class="col-sm-6 bg-muted text-center" id="render-response">

	          	
	      </div>
	      <div class="col-sm-6 bg-muted text-center" id="render-book-form">

	          	
	      </div>


	    </div>

	  </div>
	</div>
<br>
	<div class="container bg-muted">
		<div class="row">
			<div class="col-md-8 text-center" id="render-form-response">
				
			</div>
		</div>
	</div>

	<!-- Footer -->
<footer class="">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#">website</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>

